{% extends "partials/_base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-3">
    <a href="{% url 'core:create-todo' %}" class="btn btn-outline-success mb-3" role="button">
    <span class="glyphicon glyphicon-"> New Photo</span></a>
{% if photos %}
    {% for photo in photos %}
<div class="card" style="width: 18rem;">
  <img class="img-thumbnail" src="{{ photo.photo.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ photo.user }}</h5>
    <p class="card-text">{{ photo.name }}</p>
    <a href="#" class="btn btn-danger">Delete</a>
  </div>
</div>
    {% endfor %}
    {% else %}
    <h1 class="text-center">There is no photo here</h1>
{% endif %}
    </div>
{% endblock %}