{% extends "partials/_base.html" %} {% load widget_tweaks %} {% block content %}

    <div class="d-flex align-items-center justify-content-center" style="height: 250px;">
        {% if not user.is_authenticated %}
            <div class="p-2 m-2 text-white">
            <a href="{% url 'core:login' %}" class="btn btn-lg btn-secondary">Login</a>
            <a href="{% url 'core:register' %}" class="btn btn-lg btn-primary">Register</a>
        </div>
            {% elif user.is_authenticated%}
            <div class="p-2 m-2 text-white">
            <a href="{% url 'core:todos' %}" class="btn btn-lg text-white" style="background-color: #006b1b">Todos</a>
            <a href="{% url 'core:photos' %}" class="btn btn-lg text-white" style="background-color: #993300">Photos</a>
            </div>
        {% endif %}
    </div>



{% endblock content %}