{% extends "partials/_base.html" %}
{% load static %}
{% block title %}Todos{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-end">
        <a href="{% url 'core:create-todo' %}" class="btn btn-outline-success mb-3" role="button">
    <span class="glyphicon glyphicon-"> New Todo</span></a>
    </div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Todo</th>
        <th scope="col">Status</th>
        <th scope="col">Due Date</th>
        <th scope="col"></th>

    </tr>
  </thead>
{% if todos %}
    {% for todo in todos %}
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ todo.user }}</td>
      <td>{{ todo.todo }}</td>
      <td>{{ todo.status }}</td>
      <td>{{ todo.due_date }}</td>
        <td><a href="{% url 'core:delete-todo' todo.pk %}" class="btn btn-outline-danger">Complete</a></td>
    </tr>
  </tbody>
    {% endfor %}
{% endif %}
</table>
</div>
{% endblock %}