{% extends "partials/_base.html" %} {% load widget_tweaks %}
{% block title %}New Todo{% endblock title %}{% block content %}

<div class="container pt-5 d-flex justify-content-center">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:"form-control" }} {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="form-group pt-2">
      <input value="Add" type="submit" class="btn btn-success">
      <a href="{% url 'core:todos' %}" class="btn btn-warning">Cancel</a>
    </div>
  </form>
</div>

{% endblock content %}